torch==2.4.1
torchvision==0.19.1
torchmetrics==1.4.2
numpy<2

timm
einops
opencv-python
tqdm
torchprofile
scipy
torch-fidelity
diffusers
omegaconf
ipdb
wandb

matplotlib
huggingface-hub
transformers
onnx
onnxsim
onnxruntime

pycocotools
lvis
scikit-image

git+https://github.com/alibaba/TinyNeuralNetwork.git
git+https://github.com/facebookresearch/segment-anything.git

# demo-specific packages
gradio
gradio-clickable-arrow-dropdown
gradio-box-promptable-image
gradio-point-promptable-image
gradio-sbmp-promptable-image
